body{
    background-color:#1d3557;
}

/* Barra de Navegación */
    .Nav{
        background-color:#fca311;

        border: 1px solid black;
        border-radius: 10px;
        text-align: center;

        margin: 25px;
        padding: 1px;
    }

    .Nav li{
        display: inline-block;
        padding: 10px;
    }

    .Nav li a{
        text-decoration: none;
        color: #1d3557;
        padding: 11px 60px;
        font-size: 17px;
    }

    .Nav a:hover{
        background-color: #1d3557;
        color: #fca311;
        border: 1px solid black;
    }

    .Nav a:active{
        background-color: #1d3557;
        color: #fca311;
    }
/* Fin de Barra de Navegación */

/* Cabecera */
    header{
        background-color:#fca311;
        border-radius: 10px;
        margin: 25px;
        padding: 5px;
        
    }

    header h1 {
        text-align: center;
    }
/* Cabecera */

/* Redes Sociales */
    footer{
        background-color: #fca311;

        width: 10%;

        border-radius: 10px;
        margin: 25px;
        padding: 20px;

        border: 1px solid black;
    }
    
    #Wordpress{
        width: 30%;
        border: 1px solid black;
        border-radius: 10px;
    }

    #Wordpress:hover{
        background-color: #ce983f;
    }
    
    #Youtube{
        width: 40%;
        border: 1px solid black;
        border-radius: 10px;
    }
    
    #Youtube:hover{
        background-color: #ce983f;
    }
/* Redes Sociales */

/* Post */
    #P1{
        background-color: #fca311;

        border-radius: 10px;
        margin: 25px;
        padding: 20px;
    }

    #P1 h1 a{
        color: black;
        text-decoration: none;
    }
/* Post */